# JavaScript-Files are Compiled files
*.js
*.js.map

# dependencies
/node_modules

# test results
/coverage
/.nyc_output

# temp
temp/

# no env vars for vscode
/.vscode/.env

# Whitelisting
!/.eslintrc.js